<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608828118373-q8qfrbj9i5a5jtvus9pl0ufu9a5pr5ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608828118373-q8qfrbj9i5a5jtvus9pl0ufu9a5pr5ou</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9O68eLD2f1pTpVRweJL-gHo0fdl4GXw</string>
	<key>GCM_SENDER_ID</key>
	<string>608828118373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eldoralikuvvatov.FlashTalk</string>
	<key>PROJECT_ID</key>
	<string>flashtalk-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>flashtalk-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608828118373:ios:60099a0e3b9916c133bd8c</string>
</dict>
</plist>